###################################
# Required packages for Cosymlib  #
###################################

contourpy<=1.3.0
numpy<=1.26.4
scipy<=1.10.1
matplotlib<=3.4.2
matplotlib
PyYAML>=5.1
symgroupy>=0.5.9
wfnsympy>=0.3.5
huckelpy>=0.2
pointgroup>=0.4